body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
}

.gradient-container {
    background-image: linear-gradient(rgba(24, 135, 180, 0.17), rgba(217, 217, 217, 0.00));
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    width: 80%;
    border: 2px solid #F68915; 
    border-radius: 15px; 
    padding: 20px; 
    margin: 20px; 
    box-sizing: border-box; 
}



.logo {
    position: absolute;
    top: 60px;
    width: 123px;
    height: 58.286px;
    flex-shrink: 0;
}


#field {
    position: absolute;
    top: 130px;
    color: #F68915;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px; 
}
.title {
    position: absolute;
    top: 180px;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 53px; 
    letter-spacing: 4px;font-size: 36px;
    color: #F68915;
}

#name {
    position: absolute;
    top: 257px;
    color: #1887B4;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px; 
}

#text-container {
    position: absolute;
    top: 345px;
    width: 607px;
    height: 55px;
}

#text {
    color: #000;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.logo-omc {
    width: 65.563px;
    height: 70px;
    flex-shrink: 0;
}

#logo-omc-svg {
    position: absolute;
    left: 40%;
    top: 445px;
    width: 66px;
    height: 70px;

}


.text-holder {
    position: absolute;
    top: 485px;
}

.highlight1{
    color: #1887B4;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 57.562px; 
    letter-spacing: 1.3px;
}

.highlight2 {
    color: #F68915;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 57.562px; 
    letter-spacing: 1.3px;
}